In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("vehicles.csv")

C:\Users\wasif\AppData\Local\Temp\ipykernel_16848\17828067.py:1: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("vehicles.csv")

In [3]:
df

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41139,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41140,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41141,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41142,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41143,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [4]:
df.shape

(41144, 83)

In [5]:
df.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [6]:
cols=['city08','comb08','highway08',"cylinders",'displ','drive','eng_dscr','fuelCost08','make','model','trany','range','createdOn','year']

# Types

In [7]:
df[cols].dtypes

city08          int64
comb08          int64
highway08       int64
cylinders     float64
displ         float64
drive          object
eng_dscr       object
fuelCost08      int64
make           object
model          object
trany          object
range           int64
createdOn      object
year            int64
dtype: object

In [8]:
df[cols].memory_usage()

Index            128
city08        329152
comb08        329152
highway08     329152
cylinders     329152
displ         329152
drive         329152
eng_dscr      329152
fuelCost08    329152
make          329152
model         329152
trany         329152
range         329152
createdOn     329152
year          329152
dtype: int64

In [9]:
df[cols].memory_usage().sum()

4608256

In [10]:
df[cols].select_dtypes(int).describe()

,city08,comb08,highway08,fuelCost08,range,year
count,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000
mean,18.369045,20.616396,24.504667,2362.335942,0.793506,2001.535266
std,7.905886,7.674535,7.730364,654.981925,13.041592,11.142414
min,6.000000,7.000000,9.000000,500.000000,0.000000,1984.000000
25%,15.000000,17.000000,20.000000,1900.000000,0.000000,1991.000000
50%,17.000000,20.000000,24.000000,2350.000000,0.000000,2002.000000
75%,20.000000,23.000000,28.000000,2700.000000,0.000000,2011.000000
max,150.000000,136.000000,124.000000,7400.000000,370.000000,2020.000000

In [11]:
df['cylinders'].describe()

count    40938.000000
mean         5.717084
std          1.755517
min          2.000000
25%          4.000000
50%          6.000000
75%          6.000000
max         16.000000
Name: cylinders, dtype: float64

In [12]:
df['cylinders'].value_counts(dropna=False)

4.0     15938
6.0     14284
8.0      8801
5.0       771
12.0      626
3.0       279
NaN       206
10.0      170
2.0        59
16.0       10
Name: cylinders, dtype: int64

In [13]:
(df[cols].query('cylinders.isnull()'))

,city08,comb08,highway08,cylinders,displ,drive,eng_dscr,fuelCost08,make,model,trany,range,createdOn,year
7138,81,85,91,NaN,NaN,NaN,NaN,800,Nissan,Altra EV,NaN,90,Tue Jan 01 00:00:00 EST 2013,2000
7139,81,72,64,NaN,NaN,2-Wheel Drive,NaN,900,Toyota,RAV4 EV,NaN,88,Tue Jan 01 00:00:00 EST 2013,2000
8143,81,72,64,NaN,NaN,2-Wheel Drive,NaN,900,Toyota,RAV4 EV,NaN,88,Tue Jan 01 00:00:00 EST 2013,2001
8144,74,65,58,NaN,NaN,NaN,NaN,1000,Ford,Th!nk,NaN,29,Tue Jan 01 00:00:00 EST 2013,2001
8146,45,39,33,NaN,NaN,2-Wheel Drive,NaN,1700,Ford,Explorer USPS Electric,NaN,38,Tue Jan 01 00:00:00 EST 2013,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34563,138,131,124,NaN,NaN,Rear-Wheel Drive,NaN,500,Tesla,Model 3 Standard Range,Automatic (A1),220,Thu May 02 00:00:00 EDT 2019,2019
34564,140,133,124,NaN,NaN,Rear-Wheel Drive,NaN,500,Tesla,Model 3 Standard Range Plus,Automatic (A1),240,Thu May 02 00:00:00 EDT 2019,2019
34565,115,111,107,NaN,NaN,All-Wheel Drive,NaN,600,Tesla,Model S Long Range,Automatic (A1),370,Thu May 02 00:00:00 EDT 2019,2019
34566,104,104,104,NaN,NaN,All-Wheel Drive,NaN,650,Tesla,"Model S Performance (19"" Wheels)",Automatic (A1),345,Thu May 02 00:00:00 EDT 2019,2019
34567,98,97,96,NaN,NaN,All-Wheel Drive,NaN,700,Tesla,"Model S Performance (21"" Wheels)",Automatic (A1),325,Thu May 02 00:00:00 EDT 2019,2019

In [14]:
(df
 [cols]
 .assign(cylinders=df.cylinders.fillna(0).astype('int8'),
         displ=df.displ.fillna(0))
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 
          'fuelCost08': 'int16', 'range': 'int16', 'year': 'int16',  })
 .describe()
)

,city08,comb08,highway08,cylinders,displ,fuelCost08,range,year
count,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000
mean,18.369045,20.616396,24.504667,5.688460,3.277904,2362.335942,0.793506,2001.535266
std,7.905886,7.674535,7.730364,1.797009,1.373415,654.981925,13.041592,11.142414
min,6.000000,7.000000,9.000000,0.000000,0.000000,500.000000,0.000000,1984.000000
25%,15.000000,17.000000,20.000000,4.000000,2.200000,1900.000000,0.000000,1991.000000
50%,17.000000,20.000000,24.000000,6.000000,3.000000,2350.000000,0.000000,2002.000000
75%,20.000000,23.000000,28.000000,6.000000,4.300000,2700.000000,0.000000,2011.000000
max,150.000000,136.000000,124.000000,16.000000,8.400000,7400.000000,370.000000,2020.000000

In [15]:
np.finfo(np.float16)

finfo(resolution=0.001, min=-6.55040e+04, max=6.55040e+04, dtype=float16)

#  object

In [16]:
(df[cols].select_dtypes(object))

,drive,eng_dscr,make,model,trany,createdOn
0,Rear-Wheel Drive,(FFS),Alfa Romeo,Spider Veloce 2000,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
1,Rear-Wheel Drive,(GUZZLER),Ferrari,Testarossa,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
2,Front-Wheel Drive,(FFS),Dodge,Charger,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
3,Rear-Wheel Drive,NaN,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,Tue Jan 01 00:00:00 EST 2013
4,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",Subaru,Legacy AWD Turbo,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
...,...,...,...,...,...,...
41139,Front-Wheel Drive,(FFS),Subaru,Legacy,Automatic 4-spd,Tue Jan 01 00:00:00 EST 2013
41140,Front-Wheel Drive,(FFS),Subaru,Legacy,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
41141,4-Wheel or All-Wheel Drive,(FFS),Subaru,Legacy AWD,Automatic 4-spd,Tue Jan 01 00:00:00 EST 2013
41142,4-Wheel or All-Wheel Drive,(FFS),Subaru,Legacy AWD,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
41143,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",Subaru,Legacy AWD Turbo,Automatic 4-spd,Tue Jan 01 00:00:00 EST 2013

In [17]:
df['drive'].value_counts(dropna=False)

Front-Wheel Drive             14236
Rear-Wheel Drive              13831
4-Wheel or All-Wheel Drive     6648
All-Wheel Drive                3015
4-Wheel Drive                  1460
NaN                            1189
2-Wheel Drive                   507
Part-time 4-Wheel Drive         258
Name: drive, dtype: int64

In [18]:
(df[cols].query("drive.isna()"))

,city08,comb08,highway08,cylinders,displ,drive,eng_dscr,fuelCost08,make,model,trany,range,createdOn,year
7138,81,85,91,NaN,NaN,NaN,NaN,800,Nissan,Altra EV,NaN,90,Tue Jan 01 00:00:00 EST 2013,2000
8144,74,65,58,NaN,NaN,NaN,NaN,1000,Ford,Th!nk,NaN,29,Tue Jan 01 00:00:00 EST 2013,2001
8147,84,75,66,NaN,NaN,NaN,NaN,900,Nissan,Hyper-Mini,NaN,33,Tue Jan 01 00:00:00 EST 2013,2001
18217,18,21,25,4.0,2.0,NaN,(FFS),2000,Alfa Romeo,Spider Veloce 2000,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1984
18218,20,22,26,4.0,1.5,NaN,(FFS),1900,Bertone,X1/9,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23029,79,85,94,NaN,NaN,NaN,Lead Acid,800,GMC,EV1,Automatic (A1),55,Tue Jan 01 00:00:00 EST 2013,1999
23030,35,37,39,NaN,NaN,NaN,NiMH,1750,GMC,EV1,Automatic (A1),105,Tue Jan 01 00:00:00 EST 2013,1999
23032,49,48,46,NaN,NaN,NaN,NaN,1400,Honda,EV Plus,Automatic (A1),81,Tue Jan 01 00:00:00 EST 2013,1999
23037,49,48,46,NaN,NaN,NaN,NaN,1400,Honda,EV Plus,Automatic (A1),81,Tue Jan 01 00:00:00 EST 2013,1998
23040,102,98,94,NaN,NaN,NaN,NaN,650,MINI,MiniE,Automatic (A1),100,Tue Jan 01 00:00:00 EST 2013,2008

In [19]:
(df[cols].groupby('year').drive.nunique())

year
1984    3
1985    4
1986    4
1987    3
1988    3
1989    3
1990    3
1991    3
1992    3
1993    3
1994    3
1995    4
1996    3
1997    4
1998    4
1999    4
2000    4
2001    4
2002    4
2003    4
2004    4
2005    4
2006    4
2007    4
2008    3
2009    4
2010    6
2011    5
2012    5
2013    5
2014    5
2015    5
2016    5
2017    5
2018    5
2019    5
2020    5
Name: drive, dtype: int64

In [20]:
(df
 [cols]
 .assign(cylinders=df.cylinders.fillna(0).astype('int8'),
         displ=df.displ.fillna(0).astype('float16'),
         drive=df.drive.fillna('Other').astype('category')
        )
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16', 
          'range': 'int16',  'year': 'int16', 'make': 'category'})
 .memory_usage(deep=True)
 .sum()  # was 19,647,323
)

12093275

In [21]:
(df.trany.value_counts(dropna=False))

Automatic 4-spd                     11047
Manual 5-spd                         8361
Automatic 3-spd                      3151
Automatic (S6)                       3106
Manual 6-spd                         2757
Automatic 5-spd                      2203
Automatic (S8)                       1665
Automatic 6-spd                      1619
Manual 4-spd                         1483
Automatic (S5)                        833
Automatic (variable gear ratios)      826
Automatic 7-spd                       724
Automatic 8-spd                       433
Automatic (AM-S7)                     424
Automatic (S7)                        327
Automatic 9-spd                       293
Automatic (AM7)                       245
Automatic (S4)                        233
Automatic (AV-S6)                     208
Automatic (A1)                        201
Automatic (AM6)                       151
Automatic (AV-S7)                     139
Automatic (S10)                       124
Automatic (AM-S6)                     116
Manual 7-spd                          114
Automatic (S9)                         86
Manual 3-spd                           77
Automatic (AM-S8)                      60
Automatic (AV-S8)                      47
Automatic 10-spd                       25
Manual 4-spd Doubled                   17
Automatic (AM5)                        14
NaN                                    11
Automatic (AV-S10)                     11
Automatic (AM8)                         6
Automatic (AM-S9)                       3
Automatic (L3)                          2
Automatic (L4)                          2
Name: trany, dtype: int64

In [22]:
(df
 [cols]
 .assign(cylinders=df.cylinders.fillna(0).astype('int8'),
         displ=df.displ.fillna(0).astype('float16'),
         drive=df.drive.fillna('Other').astype('category'),
         automatic=df.trany.str.contains('Auto'),
         speeds=df.trany.str.extract(r'(\d)+').fillna('20').astype('int8')
        )
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16', 
          'range': 'int16',  'year': 'int16', 'make': 'category'})
 .drop(columns=['trany'])
 .memory_usage(deep=True)
 .sum()
)# was 19,647,323

10631047

In [23]:
(df
 [cols]
 .assign(cylinders=df.cylinders.fillna(0).astype('int8'),
         displ=df.displ.fillna(0).astype('float16'),
         drive=df.drive.fillna('Other').astype('category'),
         automatic=df.trany.str.contains('Auto'),
         speeds=df.trany.str.extract(r'(\d)+').fillna('20').astype('int8'),
         createdOn=pd.to_datetime(df.createdOn).dt.tz_localize('America/New_York')
        )
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16', 
          'range': 'int16',  'year': 'int16', 'make': 'category'})
 .drop(columns=['trany'])
 .memory_usage(deep=True)
 .sum()  # was 19,647,323
)

C:\Users\wasif\anaconda3\lib\site-packages\dateutil\parser\_parser.py:1207: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
C:\Users\wasif\anaconda3\lib\site-packages\dateutil\parser\_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

7462959

In [24]:
df[cols].createdOn

0        Tue Jan 01 00:00:00 EST 2013
1        Tue Jan 01 00:00:00 EST 2013
2        Tue Jan 01 00:00:00 EST 2013
3        Tue Jan 01 00:00:00 EST 2013
4        Tue Jan 01 00:00:00 EST 2013
                     ...
41139    Tue Jan 01 00:00:00 EST 2013
41140    Tue Jan 01 00:00:00 EST 2013
41141    Tue Jan 01 00:00:00 EST 2013
41142    Tue Jan 01 00:00:00 EST 2013
41143    Tue Jan 01 00:00:00 EST 2013
Name: createdOn, Length: 41144, dtype: object

In [25]:
(df
 [cols]
 .assign(cylinders=df.cylinders.fillna(0).astype('int8'),
         displ=df.displ.fillna(0).astype('float16'),
         drive=df.drive.fillna('Other').astype('category'),
         automatic=df.trany.str.contains('Auto'),
         speeds=df.trany.str.extract(r'(\d)+').fillna('20').astype('int8'),
         createdOn=pd.to_datetime(df.createdOn.replace({' EDT': '-04:00',
                ' EST': '-05:00'}, regex=True), utc=True).dt.tz_convert('America/New_York')
        )
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16', 
          'range': 'int16',  'year': 'int16', 'make': 'category'})
 .drop(columns=['trany','eng_dscr'])
 .memory_usage(deep=True)
 .sum()  # was 19,647,323
)

5327266

In [26]:
# a glorious function
def tweak_autos(df):
    cols = ['city08', 'comb08', 'highway08', 'cylinders', 'displ', 'drive', 'eng_dscr', 
        'fuelCost08', 'make', 'model', 'trany', 'range', 'createdOn', 'year']
    return (df
     [cols]
     .assign(cylinders=df.cylinders.fillna(0).astype('int8'),
             displ=df.displ.fillna(0).astype('float16'),
             drive=df.drive.fillna('Other').astype('category'),
             automatic=df.trany.str.contains('Auto'),
             speeds=df.trany.str.extract(r'(\d)+').fillna('20').astype('int8'),
             createdOn=pd.to_datetime(df.createdOn.replace({' EDT': '-04:00',
                ' EST': '-05:00'}, regex=True), utc=True).dt.tz_convert('America/New_York'),
             ffs=df.eng_dscr.str.contains('FFS')
            )
     .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16',
              'range': 'int16',  'year': 'int16', 'make': 'category'})
     .drop(columns=['trany', 'eng_dscr'])
    )

tweak_autos(df)

,city08,comb08,highway08,cylinders,displ,drive,fuelCost08,make,model,range,createdOn,year,automatic,speeds,ffs
0,19,21,25,4,2.000000,Rear-Wheel Drive,2000,Alfa Romeo,Spider Veloce 2000,0,2013-01-01 00:00:00-05:00,1985,False,5,True
1,9,11,14,12,4.898438,Rear-Wheel Drive,3850,Ferrari,Testarossa,0,2013-01-01 00:00:00-05:00,1985,False,5,False
2,23,27,33,4,2.199219,Front-Wheel Drive,1550,Dodge,Charger,0,2013-01-01 00:00:00-05:00,1985,False,5,True
3,10,11,12,8,5.199219,Rear-Wheel Drive,3850,Dodge,B150/B250 Wagon 2WD,0,2013-01-01 00:00:00-05:00,1985,True,3,NaN
4,17,19,23,4,2.199219,4-Wheel or All-Wheel Drive,2700,Subaru,Legacy AWD Turbo,0,2013-01-01 00:00:00-05:00,1993,False,5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41139,19,22,26,4,2.199219,Front-Wheel Drive,1900,Subaru,Legacy,0,2013-01-01 00:00:00-05:00,1993,True,4,True
41140,20,23,28,4,2.199219,Front-Wheel Drive,1850,Subaru,Legacy,0,2013-01-01 00:00:00-05:00,1993,False,5,True
41141,18,21,24,4,2.199219,4-Wheel or All-Wheel Drive,2000,Subaru,Legacy AWD,0,2013-01-01 00:00:00-05:00,1993,True,4,True
41142,18,21,24,4,2.199219,4-Wheel or All-Wheel Drive,2000,Subaru,Legacy AWD,0,2013-01-01 00:00:00-05:00,1993,False,5,True
41143,16,18,21,4,2.199219,4-Wheel or All-Wheel Drive,2900,Subaru,Legacy AWD Turbo,0,2013-01-01 00:00:00-05:00,1993,True,4,True

# Aggregation

In [28]:
(df
   .groupby('year')
   .mean()
)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,rangeHwyA,UCity,UCityA,UHighway,UHighwayA,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
year,,,,,,,,,,,,,,,,,,,,,
1984,18.171512,0.000000,0.0,0.000000,17.982688,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,22.619145,0.000000,32.115071,0.000000,-3817.718941,0.000000,0.000000,0.000000,0.000000
1985,18.086848,0.000000,0.0,0.000000,17.878307,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,22.468082,0.000000,32.099529,0.000000,-3922.545561,0.000000,0.000000,0.000000,0.000000
1986,18.202988,0.000000,0.0,0.000000,17.665289,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,22.175024,0.000000,31.636979,0.000000,-4020.247934,0.000000,0.000000,0.000000,0.000000
1987,18.539687,0.000000,0.0,0.000000,17.310345,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,21.695599,0.000000,31.259528,0.000000,-4268.243785,0.000000,0.000000,0.000000,0.000000
1988,18.295107,0.000000,0.0,0.000000,17.333628,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,21.735983,0.000000,31.634214,0.000000,-4185.176991,0.000000,0.000000,0.000000,0.000000
1989,18.520101,0.000000,0.0,0.000000,17.143972,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,21.509702,0.000000,31.281208,0.000000,-4417.172593,0.000000,0.000000,0.000000,0.000000
1990,18.544233,0.000000,0.0,0.000000,17.033395,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,21.330735,0.000000,31.082254,0.000000,-4430.890538,0.000000,0.000000,0.000000,0.000000
1991,18.711743,0.000000,0.0,0.000000,16.848940,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,21.067970,0.000000,30.942625,0.000000,-4704.284452,0.000000,0.000000,0.000000,0.000000
1992,18.632268,0.000000,0.0,0.000000,16.805531,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,21.016665,0.000000,31.235817,0.000000,-4723.684211,0.000000,0.000000,0.000000,0.000000
1993,18.344320,0.000000,0.0,0.000000,16.998170,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,21.267728,0.000000,31.711901,0.000000,-4523.101555,0.000000,0.000000,0.000000,0.000000
1994,18.347945,0.000000,0.0,0.000000,16.918534,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,21.150231,0.000000,31.619679,0.000000,-4557.535642,0.000000,0.000000,0.000000,0.000000
1995,18.619253,0.000000,0.0,0.000000,16.569804,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,20.716049,0.000000,31.574800,0.000000,-4739.141675,0.000000,0.000000,0.000000,0.000000
1996,17.771635,0.000000,0.0,0.000000,17.289780,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,21.640968,0.000000,32.862592,0.000000,-4125.161708,0.000000,0.000000,0.000000,0.000000
1997,17.870299,0.000000,0.0,0.000000,17.135171,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,21.416589,0.000000,32.683144,0.000000,-4277.559055,0.000000,0.000000,0.000000,0.000000
1998,17.711151,0.000000,0.0,0.000000,17.113300,0.000000,0.000000,0.000000,0.000000,0.314039,...,0.000000,21.505716,0.000000,32.811657,0.000000,-4163.177340,0.000000,0.000000,0.000000,0.000000
1999,17.652871,0.000000,0.0,0.000000,17.272300,0.000000,0.000000,0.000000,0.000000,0.597418,...,0.000000,21.746244,0.000000,32.854770,0.000000,-4210.974178,0.000000,0.000000,0.000000,0.000000
2000,17.716158,0.098954,0.0,0.000000,17.221429,0.000000,0.213095,0.000000,0.000000,0.229762,...,0.000000,21.644393,0.177029,32.661020,0.269021,-4398.511905,0.000000,0.000000,0.000000,0.000000
2001,17.723546,0.129919,0.0,0.000000,17.275521,0.000000,0.298573,0.000000,0.000000,0.281010,...,0.000000,21.640059,0.208196,32.436143,0.326230,-4492.316136,0.000000,0.000000,0.000000,0.000000
2002,18.001878,0.186467,0.0,0.000000,16.893333,0.000000,0.367179,0.000000,0.000000,0.116923,...,0.000000,21.109635,0.169408,31.960495,0.262063,-4648.974359,0.000000,0.000000,0.000000,0.000000
2003,18.228890,0.226764,0.0,0.000000,16.780651,0.000000,0.411877,0.000000,0.000000,0.037356,...,0.000000,20.991217,0.493507,31.761074,0.754751,-4877.873563,0.000000,0.000000,0.000000,0.000000
2004,17.961532,0.246445,0.0,0.000000,16.740642,0.000000,0.495544,0.000000,0.000000,0.000000,...,0.000000,20.834584,0.550858,31.964928,0.835471,-4812.834225,0.000000,0.000000,0.000000,0.000000
2005,17.920131,0.234355,0.0,0.000000,16.851630,0.000000,0.416810,0.000000,0.000000,0.000000,...,0.000000,21.062148,0.484047,32.407037,0.735915,-4843.053173,0.000000,0.000000,0.000000,0.000000
2006,18.169609,0.190201,0.0,0.000000,16.626812,0.000000,0.318841,0.000000,0.000000,0.000000,...,0.000000,20.821292,0.391990,32.091053,0.605132,-4945.878623,0.000000,0.000000,0.000000,0.000000
2007,18.093144,0.337770,0.0,0.000000,16.605684,0.000000,0.519538,0.000000,0.000000,0.000000,...,0.000000,20.779661,0.647104,32.116871,1.006787,-4929.618117,0.000000,0.000000,0.000000,0.000000
2008,17.953195,0.342750,0.0,0.000000,16.900590,0.000000,0.523168,0.000000,0.000000,0.027801,...,0.000000,21.193541,0.646138,32.657164,0.989512,-4932.181971,0.000000,0.000000,0.000000,0.000000
2009,17.516118,0.496225,0.0,0.000000,17.334459,0.125845,0.833615,0.000000,0.000000,0.000000,...,0.000000,21.749116,1.037499,33.404736,1.641026,-4385.135135,0.000000,0.000000,0.000000,0.000000
2010,16.862117,0.519934,0.0,0.000000,18.105500,1.456923,1.009919,0.000000,0.000000,0.000000,...,0.000000,22.746876,1.251353,34.730102,1.992811,-4005.410280,0.000000,0.000000,0.000000,0.000000
2011,16.704105,0.777640,0.0,0.028319,18.669027,18.301787,1.455752,1.368009,0.000000,0.152212,...,0.030973,23.546672,1.812297,35.466907,2.810852,-3917.920354,0.000000,0.051327,0.054867,0.053097
2012,16.241021,0.790072,0.0,0.065538,19.362847,19.255515,1.676215,1.675100,0.000304,0.438108,...,0.066828,24.593787,2.116845,36.965172,3.235347,-3693.793403,0.000000,0.130208,0.131944,0.131076
2013,15.615971,0.799889,0.0,0.083193,20.661318,20.633650,1.830236,1.830884,0.000296,0.504223,...,0.067738,26.435844,2.335982,39.061314,3.455105,-3300.253378,0.012669,0.195946,0.176520,0.187500
2014,15.384899,0.698186,0.0,0.103894,21.033469,21.016435,2.026122,2.025679,0.005363,0.685714,...,0.197489,26.939593,2.664995,39.695878,3.596589,-3228.367347,0.014898,0.426122,0.401633,0.413061
2015,15.034380,0.457018,0.0,0.140569,21.445830,21.438021,1.654716,1.657392,0.005118,0.837780,...,0.211040,27.505147,2.210934,40.611255,2.930296,-2979.150429,0.032736,0.422447,0.413094,0.416991
2016,14.561400,0.328865,0.0,0.263986,22.591918,22.587696,1.805071,1.811094,0.001705,1.490462,...,0.321808,29.117735,2.456731,42.069230,3.021462,-2682.448494,0.074881,0.637876,0.646593,0.638669
2017,14.569485,0.312218,0.0,0.234184,22.761021,22.758435,1.813612,1.818711,0.000927,1.429973,...,0.354660,29.442608,2.466861,42.135553,2.930482,-2709.976798,0.056458,0.689095,0.699149,0.689869
2018,14.485043,0.292596,0.0,0.211905,22.564732,22.565058,2.389137,2.397881,0.001042,1.762381,...,0.621625,29.164221,3.322677,41.815070,3.709166,-2723.214286,0.049293,1.130208,1.156994,1.135417
2019,14.414226,0.248192,0.0,0.291078,23.318147,23.301682,2.303721,2.314081,0.000304,1.848383,...,0.634811,30.260677,3.225796,42.444147,3.422917,-2675.398633,0.067426,1.125285,1.115414,1.116932
2020,13.768670,0.077748,0.0,0.136364,22.679426,22.659208,1.110048,1.109948,0.000000,0.752329,...,0.192010,29.151390,1.559628,42.396129,1.554276,-2352.870813,0.000000,0.516746,0.507177,0.507177

In [30]:
(df
   .groupby('year')
   [['comb08']]
   .mean()
)

         comb08
year
1984  19.881874
1985  19.808348
1986  19.550413
1987  19.228549
1988  19.328319
1989  19.125759
1990  19.000928
1991  18.825972
1992  18.862623
1993  19.104300
1994  19.012220
1995  18.797311
1996  19.584735
1997  19.429134
1998  19.518473
1999  19.611502
2000  19.526190
2001  19.479693
2002  19.168205
2003  19.000958
2004  19.067736
2005  19.193825
2006  18.959239
2007  18.978686
2008  19.276327
2009  19.735642
2010  20.588819
2011  21.011504
2012  21.819444
2013  23.125000
2014  23.531429
2015  24.038971
2016  25.150555
2017  25.249033
2018  25.019345
2019  25.627942
2020  25.267943

In [40]:
%%timeit
(df
   .groupby('year')
   [['comb08', 'make']]
   .mean()
)

3.81 ms ± 192 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)